* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit; /* Ensure the link color matches the parent */
  text-decoration: none; /* Remove underline */
}

a:visited {
  color: inherit; /* Ensure visited links have the same color */
}
